/.git
/.venv
/.mypy_cache
/build
/dist
/.dockerignore
/src/common/mahjongsoul.pb.h
/src/common/mahjongsoul.pb.cc
/kanachan/simulation/_simulation.so
/prerequisites
/annotate/Dockerfile
/kanachan/Dockerfile
/kanachan/**/__pycache__
