/.git
/src/common/mahjongsoul.pb.h
/src/common/mahjongsoul.pb.cc
/build
/kanachan/simulation/_simulation.so
/kanachan.egg-info
/.dockerignore
/prerequisites
/annotate/Dockerfile
/kanachan/Dockerfile
/kanachan/**/__pycache__
/mjai.app
